{% extends "bootstrap/base.html" %}

{% block title %}
Dashboard
{% endblock %}

{% block styles %}
{{super()}}
<link href="{{ url_for('static', filename='css/dashboard.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='css/tables.css') }}" rel="stylesheet">
{% endblock %}

{% block content %}
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Galvanize DSDE</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#">Dashboard</a></li>
            <li><a href="#">Profile</a></li>
            <li><a href="{{ url_for('logout') }}">Log Out</a></li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li class="active"><a href="#">Overview <span class="sr-only">(current)</span></a></li>
            <li><a href="#">Progress</a></li>
            <li><a href="#">Install Guides</a></li>
          </ul>
          <ul class="nav nav-sidebar">
            <li><a href="">Learn Home</a></li>
            <li><a href="">Learn Dashboard</a></li>
          </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <h1 class="page-header">Welcome, {{ name }}</h1>

          <div class="row placeholders">
                <a class="navbar-brand" href="#">
                <img src="{{url_for('static', filename='images/mandelbrot-1.png') }}" width="200" alt="">
                </a>

                <a class="navbar-brand" href="{{url_for('static', filename='math-essentials/index.html') }}">
                <img src="{{url_for('static', filename='images/mandelbrot-2.png') }}" width="200" alt="">
                </a>

                <a class="navbar-brand" href="#">
                <img src="{{url_for('static', filename='images/mandelbrot-3.png') }}" width="200" alt="">
                </a>
          </div>

          <br><br><br><br><br><br>

          <h2 class="sub-header">Available Lessons</h2>

          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Lesson</th>
                  <th>Topics</th>
                  <th>GitHub Repository</th>
                  <th>Checkpoint</th>
                </tr>
              </thead>
              <tbody>

                {% for row in table %}
                <tr>
                  <td>{{ row[0] }}</td>
                  <td><a href="{{ url_for('static', filename=row[1]+'/index.html') }}">{{ row[1] }}</a> </td>
                  <td>{{ row[2] }}</td>
                  <td><a href="{{ row[3] }}">repo</a> </td>
                  <td><a href="{{ row[4] }}">checkpoint</a> </td>
                </tr>
                {% endfor %}

              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
{% endblock %}