<h1 id="data-science-core">Data Science Core</h1>
<table>
<colgroup>
<col style="width: 7%" />
<col style="width: 40%" />
<col style="width: 13%" />
<col style="width: 37%" />
</colgroup>
<thead>
<tr class="header">
<th>week</th>
<th>topic(s)</th>
<th>delivery</th>
<th>capstone project</th>
</tr>
</thead>
<tbody>
<tr class="odd">
<td>1</td>
<td>Python, math essential review</td>
<td>in person</td>
<td>Brainstroming</td>
</tr>
<tr class="even">
<td>2</td>
<td>Data ingestion pipelines</td>
<td>remote</td>
<td>Brainstorming, get data</td>
</tr>
<tr class="odd">
<td>3</td>
<td>Statistics and EDA</td>
<td>remote</td>
<td>get data, proposal ideas</td>
</tr>
<tr class="even">
<td>4</td>
<td>Linear models</td>
<td>remote</td>
<td>Proposals ideas discussed</td>
</tr>
<tr class="odd">
<td>5</td>
<td>Supervised learning</td>
<td>in person</td>
<td>Proposals discussed</td>
</tr>
<tr class="even">
<td>6</td>
<td>NLP and unsupervised learning</td>
<td>remote</td>
<td>Proposals written</td>
</tr>
<tr class="odd">
<td>7</td>
<td>Big Data</td>
<td>remote</td>
<td>Proposal revisions</td>
</tr>
<tr class="even">
<td>8</td>
<td>Special topics</td>
<td>remote</td>
<td>Capstone ETL, EDA</td>
</tr>
<tr class="odd">
<td>9</td>
<td>Deep learning</td>
<td>in person</td>
<td>Capstone EDA deliverable</td>
</tr>
<tr class="even">
<td>10</td>
<td>Production and specialized topics</td>
<td>remote</td>
<td>Capstone models</td>
</tr>
<tr class="odd">
<td>11</td>
<td>Capstones</td>
<td>remote</td>
<td>Capstone models</td>
</tr>
<tr class="even">
<td>12</td>
<td>Capstones</td>
<td>in person</td>
<td>finish models and deliverable</td>
</tr>
</tbody>
</table>
<p><strong>Proposals for capstone projects are due by the end of week 4</strong></p>
<h2 id="prework">Prework</h2>
<table>
<colgroup>
<col style="width: 20%" />
<col style="width: 36%" />
<col style="width: 11%" />
<col style="width: 31%" />
</colgroup>
<thead>
<tr class="header">
<th>Topic</th>
<th>Resource</th>
<th>Duration</th>
<th>Goals</th>
</tr>
</thead>
<tbody>
<tr class="odd">
<td>Python</td>
<td>Python precourse</td>
<td>~40 hours</td>
<td>Exposure to Python fundamentals</td>
</tr>
<tr class="even">
<td>Statistics</td>
<td>Statistics short-course</td>
<td>~4 hours</td>
<td>Exposure to classical statistics</td>
</tr>
<tr class="odd">
<td>Math Foundations</td>
<td>Linear algebra essentials</td>
<td>~4 hours</td>
<td>Exposure to linear algebra</td>
</tr>
</tbody>
</table>
<h2 id="data-science-immersive">Data Science Immersive</h2>
<h3 id="week-1-python-and-version-control-in-person">Week 1: Python and version control (IN PERSON)</h3>
<table style="width:88%;">
<colgroup>
<col style="width: 22%" />
<col style="width: 65%" />
</colgroup>
<thead>
<tr class="header">
<th>Day</th>
<th>Main Topics</th>
</tr>
</thead>
<tbody>
<tr class="odd">
<td>01</td>
<td>Dev, environment, Git, Unix</td>
</tr>
<tr class="even">
<td>02</td>
<td>Python part I (primatives, loops)</td>
</tr>
<tr class="odd">
<td>03</td>
<td>Python part II (functions, OOP)</td>
</tr>
<tr class="even">
<td>04</td>
<td>NumPy, pandas</td>
</tr>
<tr class="odd">
<td>05</td>
<td>CASE STUDY - pandas</td>
</tr>
</tbody>
</table>
<h3 id="week-2-data-ingestion-remote">Week 2: Data Ingestion (REMOTE)</h3>
<table style="width:89%;">
<colgroup>
<col style="width: 22%" />
<col style="width: 66%" />
</colgroup>
<thead>
<tr class="header">
<th>Day</th>
<th>Main Topics</th>
</tr>
</thead>
<tbody>
<tr class="odd">
<td>01</td>
<td>Data Visualization (matplotlib)</td>
</tr>
<tr class="even">
<td>02</td>
<td>MongoDB</td>
</tr>
<tr class="odd">
<td>03</td>
<td>SQL</td>
</tr>
<tr class="even">
<td>04</td>
<td>Python SQL</td>
</tr>
<tr class="odd">
<td>05</td>
<td>CASE-STUDY - data ingestion pipelines</td>
</tr>
</tbody>
</table>
<h3 id="week-3-statistics-and-eda-remote">Week 3: Statistics and EDA (REMOTE)</h3>
<table>
<colgroup>
<col style="width: 21%" />
<col style="width: 78%" />
</colgroup>
<thead>
<tr class="header">
<th>Day</th>
<th>Main Topics</th>
</tr>
</thead>
<tbody>
<tr class="odd">
<td>01</td>
<td>Linear algebra</td>
</tr>
<tr class="even">
<td>02</td>
<td>Probability distributions, statistical inference</td>
</tr>
<tr class="odd">
<td>03</td>
<td>Sampling and estimation</td>
</tr>
<tr class="even">
<td>04</td>
<td>Null hypothesis testing</td>
</tr>
<tr class="odd">
<td>05</td>
<td>CASE STUDY - exploratory data analysis</td>
</tr>
</tbody>
</table>
<h3 id="week-4-linear-models-remote">Week 4: linear models (REMOTE)</h3>
<table>
<colgroup>
<col style="width: 22%" />
<col style="width: 77%" />
</colgroup>
<thead>
<tr class="header">
<th>Day</th>
<th>Main Topics</th>
</tr>
</thead>
<tbody>
<tr class="odd">
<td>01</td>
<td>Evaluation metrics, KNN</td>
</tr>
<tr class="even">
<td>02</td>
<td>Cross-validation</td>
</tr>
<tr class="odd">
<td>03</td>
<td>Linear and logistic regression</td>
</tr>
<tr class="even">
<td>04</td>
<td>Regularized regression</td>
</tr>
<tr class="odd">
<td>05</td>
<td>CASE STUDY - linear models</td>
</tr>
</tbody>
</table>
<h3 id="week-5-supervised-learning-in-person">Week 5: Supervised learning (IN PERSON)</h3>
<table>
<colgroup>
<col style="width: 22%" />
<col style="width: 77%" />
</colgroup>
<thead>
<tr class="header">
<th>Day</th>
<th>Main Topics</th>
</tr>
</thead>
<tbody>
<tr class="odd">
<td>01</td>
<td>Decision trees, bagging</td>
</tr>
<tr class="even">
<td>02</td>
<td>Random forests, gradient descent</td>
</tr>
<tr class="odd">
<td>03</td>
<td>Boosting</td>
</tr>
<tr class="even">
<td>04</td>
<td>Neural networks (backpropagation, MLP)</td>
</tr>
<tr class="odd">
<td>05</td>
<td>CASE STUDY - supervised learning</td>
</tr>
</tbody>
</table>
<h3 id="week-6-nlp-and-unsupervised-learning-remote">Week 6: NLP and unsupervised learning (REMOTE)</h3>
<table>
<colgroup>
<col style="width: 20%" />
<col style="width: 79%" />
</colgroup>
<thead>
<tr class="header">
<th>Day</th>
<th>Main Topics</th>
</tr>
</thead>
<tbody>
<tr class="odd">
<td>01</td>
<td>Natural language processing</td>
</tr>
<tr class="even">
<td>02</td>
<td>Text classification, naive bayes</td>
</tr>
<tr class="odd">
<td>03</td>
<td>Topic models (LDA and NMF)</td>
</tr>
<tr class="even">
<td>04</td>
<td>Clustering algorithms</td>
</tr>
<tr class="odd">
<td>05</td>
<td>CASE STUDY - NLP</td>
</tr>
</tbody>
</table>
<h3 id="week-7-big-data-remote">Week 7: Big Data (REMOTE)</h3>
<table>
<colgroup>
<col style="width: 20%" />
<col style="width: 79%" />
</colgroup>
<thead>
<tr class="header">
<th>Day</th>
<th>Main Topics</th>
</tr>
</thead>
<tbody>
<tr class="odd">
<td>01</td>
<td>Capstones, Troubleshoot Docker/Spark Install</td>
</tr>
<tr class="even">
<td>02</td>
<td>Docker</td>
</tr>
<tr class="odd">
<td>03</td>
<td>Spark I (SQL and Dataframes)</td>
</tr>
<tr class="even">
<td>04</td>
<td>Spark II (ML Pipelines)</td>
</tr>
<tr class="odd">
<td>05</td>
<td>CASE STUDY - Spark</td>
</tr>
</tbody>
</table>
<h3 id="week-8-special-ml-topics-remote">Week 8: Special ML Topics (REMOTE)</h3>
<table>
<colgroup>
<col style="width: 21%" />
<col style="width: 78%" />
</colgroup>
<thead>
<tr class="header">
<th>Day</th>
<th>Main Topics</th>
</tr>
</thead>
<tbody>
<tr class="odd">
<td>01</td>
<td>Profit curves</td>
</tr>
<tr class="even">
<td>02</td>
<td>Support vector machines</td>
</tr>
<tr class="odd">
<td>03</td>
<td>Principal component analysis</td>
</tr>
<tr class="even">
<td>04</td>
<td>Singular value decomposition</td>
</tr>
<tr class="odd">
<td>05</td>
<td>Review followed by dedicated capstone time</td>
</tr>
</tbody>
</table>
<h3 id="week-9-deep-learning-in-person">Week 9: Deep Learning (IN PERSON)</h3>
<table>
<colgroup>
<col style="width: 21%" />
<col style="width: 78%" />
</colgroup>
<thead>
<tr class="header">
<th>Day</th>
<th>Main Topics</th>
</tr>
</thead>
<tbody>
<tr class="odd">
<td>01</td>
<td>Time-series, recurrent neural nets</td>
</tr>
<tr class="even">
<td>02</td>
<td>Convolutional neural networks</td>
</tr>
<tr class="odd">
<td>03</td>
<td>GANs and autoencoders</td>
</tr>
<tr class="even">
<td>04</td>
<td>Deep learning case study</td>
</tr>
<tr class="odd">
<td>05</td>
<td>Capstones</td>
</tr>
</tbody>
</table>
<h3 id="week-10-case-study-week-remote">Week 10: Case study Week (REMOTE)</h3>
<table>
<colgroup>
<col style="width: 21%" />
<col style="width: 78%" />
</colgroup>
<thead>
<tr class="header">
<th>Day</th>
<th>Main Topics</th>
</tr>
</thead>
<tbody>
<tr class="odd">
<td>01</td>
<td>Capstones</td>
</tr>
<tr class="even">
<td>02</td>
<td>Capstones</td>
</tr>
<tr class="odd">
<td>03</td>
<td>Capstones</td>
</tr>
<tr class="even">
<td>04</td>
<td>HOLIDAY (NO CLASS)</td>
</tr>
<tr class="odd">
<td>05</td>
<td>HOLIDAY (NO CLASS)</td>
</tr>
</tbody>
</table>
<h3 id="week-11-projects-remote">Week 11: Projects (REMOTE)</h3>
<table>
<colgroup>
<col style="width: 21%" />
<col style="width: 78%" />
</colgroup>
<thead>
<tr class="header">
<th>Day</th>
<th>Main Topics</th>
</tr>
</thead>
<tbody>
<tr class="odd">
<td>01</td>
<td>Capstones</td>
</tr>
<tr class="even">
<td>02</td>
<td>Capstones</td>
</tr>
<tr class="odd">
<td>03</td>
<td>Capstones</td>
</tr>
<tr class="even">
<td>04</td>
<td>Capstones</td>
</tr>
<tr class="odd">
<td>05</td>
<td>Presentation practice</td>
</tr>
</tbody>
</table>
<h3 id="week-12-projects-in-person">Week 12: Projects (IN PERSON)</h3>
<table>
<colgroup>
<col style="width: 21%" />
<col style="width: 78%" />
</colgroup>
<thead>
<tr class="header">
<th>Day</th>
<th>Main Topics</th>
</tr>
</thead>
<tbody>
<tr class="odd">
<td>01</td>
<td>Capstones, final assessment</td>
</tr>
<tr class="even">
<td>02</td>
<td>Code Freeze</td>
</tr>
<tr class="odd">
<td>03</td>
<td>Dress rehersal</td>
</tr>
<tr class="even">
<td>04</td>
<td>Capstone Showcase</td>
</tr>
</tbody>
</table>
